body {
  margin: 0;
  padding: 0;
  font-family: Lato; }

.page_container {
  width: 100%;
  height: 100%;
  width: 100%;
  margin: auto; }

.main_width {
  width: 75%;
  max-width: 1050px; }

/*header*/
header {
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }

.site_name {
  background-image: url("../images/Bhagaskara_title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  height: 25vh;
  margin: 3% 0 3% 0;
  cursor: pointer; }

.text {
  width: 70%; }
  .text p {
    text-align: center;
    color: white; }
  .text p:nth-child(1) {
    font-size: 30px; }
  .text p:nth-child(2) {
    font-size: 20px; }

.header_buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 2%;
  width: 75%;
  height: 40%; }

.top {
  align-self: flex-start; }

.buttons_bgr_image {
  background-image: url("../images/grey_oval.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 157px;
  height: 167px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .buttons_bgr_image img {
    width: 51px;
    height: 51px; }
  .buttons_bgr_image a .image_margin {
    margin-left: 5px; }
  .buttons_bgr_image a:link {
    text-decoration: none;
    color: white; }
  .buttons_bgr_image a:visited {
    color: white; }
  .buttons_bgr_image:hover {
    background-image: url("../images/purple_oval.png");
    transition: 0.6s; }
  .buttons_bgr_image label {
    margin-top: 5px;
    text-align: center;
    cursor: pointer; }

.scroll_down {
  margin-top: 50px;
  background-image: url("../images/grey_oval.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 62px;
  height: 87px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .scroll_down img {
    margin-top: 20%; }
  .scroll_down:hover {
    background-image: url("../images/purple_oval.png");
    transition: 0.6s; }

/*nav*/
nav {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  nav .main_width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px; }
    nav .main_width .nav_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
  nav .menu {
    z-index: 1;
    text-transform: uppercase; }
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap;
    -webkit-padding-start: 0px; }
    nav ul li {
      display: inline-block;
      margin-left: 20px; }
    nav ul a {
      text-decoration: none;
      color: black; }
      nav ul a:hover {
        color: purple; }

.rwd_menu {
  background-image: url("../images/hamburger.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  z-index: 2; }

.hidden {
  display: none; }

.horizontal {
  display: inline-block !important; }

.horizontal > ul {
  margin-top: 1px; }
  .horizontal > ul li {
    display: inline-block;
    margin-left: 20px; }

.sticky + .horizontal ul {
  margin-top: 20px; }
.sticky + .horizontal li {
  display: inline-block;
  margin-left: 20px; }

@media all and (min-width: 761px) {
  .horizontal > ul li {
    display: inline-block; } }
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  z-index: 2;
  /*ul {
  	@include sizePage(100%,100%);
  	li {
  	margin-left: 3%;
  	}
  }*/ }
  .sticky:hover {
    opacity: 1;
    background-color: white; }

/*.sticky1{
    position: fixed;
    top: 0;
    left: 0;
  	text-align: center;
   	width: 100%;
   	background-color: white;
}*/
/*section "Build with love"*/
.first_section {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: nowrap; }

.four_icons {
  margin: 50px 0 50px 0;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 200px;
  height: 300px;
  margin: 0 1% 0 1%;
  text-align: center; }

.heart_icon {
  background-image: url("../images/grey_heart.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 157px;
  height: 167px; }
  .heart_icon:hover {
    background-image: url("../images/purple_heart.png");
    transition: 0.6s; }

.diamond_icon {
  background-image: url("../images/grey_diamond.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 157px;
  height: 167px; }
  .diamond_icon:hover {
    background-image: url("../images/purple_diamond.png");
    transition: 0.6s; }

.bin_icon {
  background-image: url("../images/grey_cup.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 157px;
  height: 167px; }
  .bin_icon:hover {
    background-image: url("../images/purple_cup.png");
    transition: 0.6s; }

.phone_icon {
  background-image: url("../images/grey_phone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 157px;
  height: 167px; }
  .phone_icon:hover {
    background-image: url("../images/purple_phone.png");
    transition: 0.6s; }

/*section "About us"*/
.about_us {
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: nowrap;
  height: 600px; }
  .about_us .main_width {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap; }

.about_us_first_row {
  margin: 5% 0 5% 0;
  background-image: url("../images/about_us.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 220px;
  height: 75px; }

.about_us_second_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap; }

.monitors {
  background-image: url("../images/monitor.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 560px;
  height: 335px; }

.learn_more {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  flex-wrap: nowrap;
  width: 300px; }
  .learn_more p {
    margin-top: 0; }

button {
  width: 200px;
  height: 50px;
  background-color: purple;
  border: purple;
  border-radius: 5%;
  color: white;
  box-shadow: 0 3px #888888; }
  button:hover {
    box-shadow: 0 -3px #888888;
    background-color: lightgrey;
    color: purple;
    transition: 1s;
    border: purple; }

.beach_picture {
  background-image: url("../images/beach.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .beach_picture .column {
    width: 500px; }
  .beach_picture p {
    color: white;
    font-size: 30px; }

/*section "Our team"*/
.team {
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: nowrap;
  height: 800px; }
  .team .main_width {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap; }

.team_first_row {
  background-image: url("../images/our_team.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 220px;
  height: 75px; }

.team_second_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: nowrap; }

.button_left {
  background-image: url("../images/left_arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 65px;
  margin-right: 5px; }

.button_right {
  background-image: url("../images/right_arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 65px;
  margin-left: 5px; }

.team_third_row {
  height: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 92%; }

.team_column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center; }

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("../images/team1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.social_media_icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 35%; }

.FB {
  background-image: url("../images/fb_icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px; }
  .FB:hover {
    background-image: url("../images/purple_fb_icon.png"); }

.Google {
  background-image: url("../images/google_icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px; }
  .Google:hover {
    background-image: url("../images/purple_google_icon.png"); }

/*section "Our skills"*/
.skills {
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%; }
  .skills .main_width {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap; }

.skills_first_row {
  background-image: url("../images/our_skills.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 220px;
  height: 75px; }

.skills_second_row, .skills_third_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap;
  width: 60%; }
  .skills_second_row .margin, .skills_third_row .margin {
    margin-left: 25px;
    text-align: center; }

.skills_second_row {
  margin-top: 50px; }

.skills_third_row {
  margin-bottom: 50px; }

progress {
  width: 300px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::-moz-progress-bar {
  background-color: purple;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::-webkit-progress-value {
  background-color: purple; }

progress::-ms-fill {
  background-color: purple; }

progress[value]::progress-value {
  background-color: purple; }

/*section "Portfolio"*/
.portfolio {
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: nowrap;
  height: 1100px; }
  .portfolio .main_width {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }

.portfolio_first_row {
  background-image: url("../images/our_portfolio.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 220px;
  height: 75px;
  margin-bottom: 50px; }

.portfolio_second_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%; }
  .portfolio_second_row button {
    margin-top: 10px;
    width: 85px;
    height: 40px; }

.portfolio_third_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap;
  width: 100%; }
  .portfolio_third_row .column {
    width: 250px;
    height: 300px; }

.portfolio_third_row {
  margin-top: 50px; }

.portfolio_fourth_row {
  margin-bottom: 50px; }

.third_row_image {
  background-image: url("../images/farm_road.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px; }

.mountain_road {
  background-image: url("../images/mountain_road.png"); }

.new_york {
  background-image: url("../images/New_York.png"); }

.port {
  background-image: url("../images/port.png"); }

.boats {
  background-image: url("../images/river_boats.png"); }

.bench {
  background-image: url("../images/bench.png"); }

.portfolio_fifth_row {
  margin-bottom: 50px; }

.fullScreen {
  position: fixed;
  width: 80vw;
  height: 80vh;
  left: 400px;
  top: 40px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7); }

.fullScreen .close {
  display: block; }

.fullScreen img {
  display: block;
  margin: 50px;
  width: 500px;
  height: 500px; }

/*section "Footer"*/
footer {
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  flex-wrap: nowrap; }
  footer .main_width {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }

.form {
  width: 90%; }

.error_message1, .error_message2, .error_message3 {
  color: red; }

.error_message2 {
  margin-bottom: 25px; }

label, input {
  display: block; }

input {
  margin: 25px 0;
  width: 96%;
  height: 65px;
  border: 1px solid purple;
  padding-left: 5px; }

textarea {
  width: 96%;
  height: 185px;
  border: 1px solid purple;
  resize: none;
  padding-left: 5px;
  padding-top: 20px;
  margin-bottom: 25px; }

.submit {
  width: 200px;
  height: 50px;
  background-color: purple;
  border: purple;
  border-radius: 5%;
  color: white;
  box-shadow: 0 3px #888888; }
  .submit:hover {
    box-shadow: 0 -3px #888888;
    background-color: white;
    color: purple;
    transition: 1s; }

::-webkit-input-placeholder {
  font-size: 20px; }

::-moz-placeholder {
  font-size: 20px; }

::-ms-input-placeholder {
  font-size: 20px; }

.footer_first_row {
  background-image: url("../images/get_in_touch.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 220px;
  height: 75px;
  margin-top: 5%;
  margin-bottom: 5%; }

.footer_second_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  flex-wrap: nowrap; }
  .footer_second_row .contact_container {
    width: 40%;
    height: 20%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
    flex-wrap: nowrap; }
    .footer_second_row .contact_container p {
      margin-top: 20px;
      font-size: 18px;
      text-align: justify;
      display: block;
      width: 100%; }
    .footer_second_row .contact_container .contact_paragraph {
      width: 100%; }

.footer_third_row {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*screens under 1245px*/
@media (max-width: 1245px) {
  header {
    height: 100%; }

  .four_icons {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; }

  .about_us {
    height: 100%; }
    .about_us .about_us_first_row {
      margin-top: 3%; }
    .about_us .monitors {
      width: 50vw; } }
    @media (max-width: 1245px) and (max-width: 882px) {
      .about_us .monitors {
        height: 40vh; } }
    @media (max-width: 1245px) and (max-width: 441px) {
      .about_us .monitors {
        height: 20vh; } }
@media (max-width: 1245px) {
    .about_us .learn_more {
      margin-bottom: 3%;
      /*.learn_more screens under 290px*/
      /*.learn_more screens under 140px*/ } }
    @media (max-width: 1245px) and (max-width: 441px) {
      .about_us .learn_more {
        width: 60vw; } }
    @media (max-width: 1245px) and (max-width: 290px) {
      .about_us .learn_more {
        font-size: 60%; }
        .about_us .learn_more button {
          width: 50vw; } }

@media (max-width: 1245px) {
  .portfolio {
    height: 100%; }

  .footer {
    width: 100%;
    height: 100%; } }
/*screens under 1050x*/
@media (max-width: 1050px) {
  nav .main_width {
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    nav .main_width .nav_header {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%; }
  nav .menu {
    width: 100%; } }
/*screens under 900px*/
@media (max-width: 900px) {
  .portfolio_second_row {
    justify-content: center; }
    .portfolio_second_row button {
      margin: 10px; } }
/*screens under 773px*/
@media (max-width: 773px) {
  progress {
    width: 60vw;
    height: 2vh; }

  footer {
    width: 100%;
    height: 100%; }

  .footer_second_row {
    flex-direction: column;
    align-items: center; }
    .footer_second_row form {
      margin-right: 2%; }
      .footer_second_row form .submit {
        margin: auto; }
    .footer_second_row .contact_container {
      width: 70%; } }
    @media (max-width: 773px) and (max-width: 200px) {
      .footer_second_row .contact_container p {
        font-size: 70%; } }
  @media (max-width: 773px) and (max-width: 515px) {
    .footer_second_row .contact_container {
      height: 100%; } }

/*# sourceMappingURL=style.css.map */
