/*screens under 773px*/
@media (max-width: 773px) {
	progress {
		width: 60vw;
		height: 2vh;
	}
	footer {
		width: 100%;
		height: 100%;
	}
	.footer_second_row  {
		flex-direction: column;
		align-items: center;
		form {
			margin: 0 auto;
			.submit {
				margin: auto;
			}
		}
		.contact_container {
			width: 70%;
			@media (max-width: 200px) {
				p {
					font-size: 70%;
				}
			}
		}
		@media (max-width: 515px) {
			.contact_container {
					height: 100%;
			}
		}	
	}
}
/*screens under 900px*/
@media (max-width: 900px) {
	.portfolio_second_row {
		justify-content: center;
		button {
			margin: 10px;
		}
	}
}
/*screens under 1050x*/
@media (max-width: 1050px) {
	nav {
		.main_width {
			flex-direction: column;
			justify-content: space-between;	
			height: 100%;
			.nav_header {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 90%;
			}
		}
		.menu {
			width: 100%;
		}
	}
}
/*screens under 1245px*/
@media (max-width: 1245px) {
	header {
		height: 100%;
	}	
	.four_icons {
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.about_us {
		height: 100%;
		.about_us_first_row {
		}
		.monitors {
			width: 50vw;
			@media (max-width: 882px) {
				height: 40vh;	
			}
			@media (max-width: 441px) {
				height: 20vh;	
			}
		}
		.learn_more {
			height: 100%;
			p {
				margin-top: 10px;
				margin-bottom: 50px;
			}
			margin-bottom: 50px;
			@media (max-width: 441px) {
				width: 60vw;	
			}
			/*.learn_more screens under 290px*/
			@media (max-width: 290px) {
				font-size: 60%;
				button {
					width: 50vw;
				}
			}
		}
	}
	.portfolio {
		height: 100%;
	}
	.footer {
		width: 100%;
		height: 100%;
	}
}
